.form-control {
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 100%; 
       color: var(--twogray) !important;
         padding: 11px 16px;
    border-color: #E5E5E5;
    border-right: none;

}

.itemimage{
    width: 952px;
    height: 456px;
    gap: 40px;
    
}
.imgmobile{
    width: 208px;
    height: 208px;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25);
}
.hoveradd{
    width: 230px;
    height: 230px;
    background-color:#F2EAE1B2;
    border-radius: 16px;
}

.input-group .btn{
    border-left: none;
    border-color: #E5E5E5;
}
.additem{
    background-color: var(--orang);
    padding: 13px 24px;
}

.row{
    gap: 40px;
}

.disabled{
    border-radius: 8px;
}

 .gap-bottom-lg-40 {
  margin-bottom: 40px;
}

    .pagination-wrapper {
        gap: 5px;
        margin-top: 80px;

}
.page-btn,
.nav-btn {
    width: 60px;
    height: 60px;
    border-color: rgba(241, 241, 241, 1) !important;
}

.page-btn.active {
  background-color: var(--orang);
  color: white;
}



@media (max-width: 992px) {
  .gap-bottom-lg-40 {
    margin-bottom: 1rem !important;
  }
.row{
    gap: 20px;
}
}



