.search::placeholder{
        font-weight: 400;
        font-size: 14px;
        line-height: 100%;
       color: var(--twogray);

}
.itemimage{
    width: 952px;
    height: 456px;
    gap: 40px;
    
}
.imgmobile{
    width: 208px;
    height: 208px;
}
.hoveradd{
    width: 230px;
    height: 230px;
    background-color:#F2EAE1B2;
    border-radius: 16px;
}
.search .form-control{
    padding: 11px 16px;
    border-color: #E5E5E5;
    border-right: none;
}
.input-group .btn{
    border-left: none;
    border-color: #E5E5E5;
}
.additem{
    background-color: var(--orang);
    padding: 13px 24px;
    border-radius: 4px;
}

.carousel-indicators [data-bs-target]{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.pagination{
gap: 5px;
}
.page-link{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-item:last-child .page-link , .page-item , .page-item:first-child  .page-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-item  span , .page-link {
    color: black;
}
.active>.page-link, .page-link.active {
     background-color: var(--orang) !important;
     border: none;
}
.disabled{
    border-radius: 8px;
}

 .gap-bottom-lg-40 {
  margin-bottom: 40px;
}
.hoverLayer {
      top: -97px;
    left: 55px;}
@media (max-width: 991.98px) {
  .gap-bottom-lg-40 {
    margin-bottom: 1rem !important;
  }
}



